location = /authelia {
    internal;
    proxy_pass http://YOUR_SERVER_IP:9091/api/verify;
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
    proxy_set_header X-Original-URL $scheme://$http_host$request_uri;
    proxy_set_header X-Forwarded-Method $request_method;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Forwarded-Uri $request_uri;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Host YOUR_SERVER_IP;
    proxy_buffers 4 32k;
    proxy_buffer_size 64k;
}

location / {
    auth_request /authelia;
    auth_request_set $user $upstream_http_remote_user;
    auth_request_set $groups $upstream_http_remote_groups;
    auth_request_set $target_url $scheme://$http_host$request_uri;
    error_page 401 =302 https://auth.nanolab.local/?rd=$target_url;
    proxy_set_header Remote-User $user;
    proxy_set_header Remote-Groups $groups;

    proxy_pass http://YOUR_SERVER_IP:8181;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
}
